{% extends 'base.html.twig' %}

{% block title %}Produits{% endblock %}

{% block body %}
     <h1 class="text-center mb-5 mt-5">Produits</h1>


    <div class="card shadow p-3 mb-5 bg-white rounded col-md-6 offset-md-3">
        <a href="{{ path('produits_index') }}">Retour à la liste</a><br><br> 
        <img class="card-img-top text-center" src="{{absolute_url ( asset ('assets/static/images/img/')) }}{{ produit.photo }}" alt="">
        <div class="card-body">
            <p class="card-text"><b>ID : </b>{{ produit.id }}</p><hr>
            <p class="card-text"><b>Reference : </b>{{ produit.reference }}</p><hr>
            <h2 class="card-title"><b>Nom : </b>{{ produit.nom }}</h2><hr>
            <p class="card-text"><b>Marque : </b>{{ produit.marque }}</p><hr>
            <p class="card-text"><b>Categorie : </b>{{ produit.categorie }}</p><hr>
            <p class="card-text"><b>Description : </b>{{ produit.description }}</p><hr>
            <p class="card-text"><b>Public : </b>{{ produit.public }}</p><hr>
            <p class="card-text"><b>Prix : </b>{{ produit.prix }}</p><hr>
            <p class="card-text"><b>Stock : </b>{{ produit.stock }}</p><hr>
            <a type="button" class="btn btn-success col-md-2" href="{{ path('produits_edit', {'id': produit.id}) }}">Modifier</a><span class="col-md-7">{{ include('produits/_delete_form.html.twig') }}</span>
            
        </div>
    </div>
{% endblock %}