{% extends 'base.html.twig' %} {% block body %} {% if Utilisateur.nom == null %}
<div class="col-md-12 pt-5 mt-5 mb-5 pb-5">
    <h2 class="mt-5 mb-5 text-center">Pas encore connecté ! <a href="" data-toggle="modal" data-target="#myModal2"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Créer un compte </a> ou <a href="" data-toggle="modal" data-target="#myModal"><i class="fa fa-unlock-alt" aria-hidden="true"></i> Identifiez Vous </a></h2>
</div>
{% else %}
<h1 class="text-center mt-5 mb-5">Modifier votre profil</h1>
<div class="col-md-6 offset-md-3 shadow p-3 mb-5 bg-white rounded">
    <a href="{{ path('index') }}">retour à la boutique</a>
    {{ form_start(form3, {'attr' : {'class' : ''}})  }}
        {{ form_widget(form3, {'attr' : {'class' : 'formAj text-center'}})  }}
        <button class="btn btn-success col-md-4 offset-md-4 mt-5">{{ button_label|default('Modifier') }}</button>
    {{ form_end(form3) }}
</div>   
{% endif %}
{% endblock %}