{% extends 'base.html.twig' %} {% block body %}
<!-- /banner_bottom_agile_info -->
<div class="page-head_agile_info_w3l">
    <div class="container">
        <h3><span>Pour</span> Lui</h3>
        <!--/w3_short-->
        <div class="services-breadcrumb">
            <div class="agile_inner_breadcrumb">

                <ul class="w3_short">
                    <li><a href="/">Home</a><i>|</i></li>
                    <li>Pour Lui</li>
                </ul>
            </div>
        </div>
        <!--//w3_short-->
    </div>
</div>

<!-- banner-bootom-w3-agileits -->
<div class="banner-bootom-w3-agileits">
    <div class="container">
        <!-- mens -->
        <div class="col-md-12 products-right">
            <h5><span>Votre</span> Sélection({{ produit|length }})</h5>
            <div class="sort-grid">
                <div class="sorting">
                    <h6>Trier par</h6>
                    <select id="country1" onchange="change_country(this.value)" class="frm-field required sect">
						<option value="">Default</option>
						<option value="">Marque(A-Z)</option> 
						<option value="null">Marque(Z-A)</option>
						<option value="">Prix Décroissant</option>
						<option value="null">Prix croissant</option>	
						<option value="null">Modèle(A-Z)</option>
						<option value="null">Modèle(Z-A)</option>					
					</select>
                    <div class="clearfix"></div>
                </div>
                <div class="sorting">
                    <h6>Montrer</h6>
                    <select id="country2" onchange="change_country(this.value)" class="frm-field required sect">
						<option value="{{ max(1, 5) }}">5</option>
						<option value="{{ max(1, 10) }}">10</option> 
						<option value="{{ max(1, 15) }}">15</option>					
						<option value="{{ max(1, 20) }}">20</option>														
					</select>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="men-wear-top">

                <div id="top" class="callbacks_container">
                    <ul class="rslides" id="slider3">
                        <li>
                            <img class="img-responsive" src="{{absolute_url ( asset ('assets/static/images/banner2.jpg')) }}" alt=" ">
                        </li>
                    </ul>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
        <div class="single-pro">
        {% for produits in produit %}
            {% if produits.public == "homme" %}
            <div class="col-md-3 product-men">
                <div class="men-pro-item simpleCart_shelfItem">
                    <div class="men-thumb-item">
                        <img src="{{absolute_url ( asset ('assets/static/images/img/')) }}{{ produits.photo }}" alt="" class="pro-image-front">
                        <img src="{{absolute_url ( asset ('assets/static/images/img/')) }}{{ produits.photo }}" alt="" class="pro-image-back">
                        <div class="men-cart-pro">
                            <div class="inner-men-cart-pro">
                                <a href="{{ path('produits_show2', {'id': produits.id}) }}" class="link-product-add-cart">Voir le produit</a>
                            </div>
                        </div>
                        <span class="product-new-top">Nouveau</span>

                    </div>
                    <div class="item-info-product ">
                        <h4><a href="{{ path('produits_show2', {'id': produits.id}) }}">{{ produits.nom }}</a></h4>
                        <div class="info-product-price">
                            <span class="item_price">{{ produits.prix }}€</span>
                        </div>
                        <div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out button2">
                            <form action="#" method="post">
                                <fieldset>
                                    <input type="hidden" name="cmd" value="_cart">
                                    <input type="hidden" name="add" value="1">
                                    <input type="hidden" name="business" value="amine5559@hotmail.fr">
                                    <input type="hidden" name="item_name" value="{{ produits.nom }}">
                                    <input type="hidden" name="amount" value="{{ produits.prix }}">
                                    <input type="hidden" name="shipping" value="2">
                                    <input type="hidden" name="discount_amount" value="">
                                    <input type="hidden" name="currency_code" value="EUR">
                                    <input type="hidden" name="return" value=" ">
                                    <input type="hidden" name="cancel_return" value=" ">
                                    <input type="submit" name="submit" value="Ajouter au panier" class="button">
                                </fieldset>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
            {% else %}
            {% endif %}
            {% endfor %}
            <div class="clearfix"></div>
        </div>
        <div class="men-wear-bottom">
            <div class="col-sm-4 men-wear-left">
                <img class="img-responsive" src="{{absolute_url ( asset ('assets/static/images/bb2.jpg')) }}" alt=" ">
            </div>
            <div class="col-sm-8 men-wear-right">
                <h4><span>Des</span> Collections exclusives</h4>
                <p>Des vêtements et accessoires fabriqués à la main en séries limitées numérotées, pour être unique en toutes circonstances.</p><br>
					accusantium remque laudantium, totam rem aperiam, eaque ipsa quae 		<p>Retrouvez chaque mois une sélection pièces originales. Pour vous, nous écumons les ateliers de création et dénichons les talents.</p><br>
					ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt	<p>Les articles du pop'up store sont en vente pendant un mois. Passé ce délai, vous ne pourrez plus les commander et vous ne les retrouverez nulle-part ailleurs.</p><br> 					      
					explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut	<p>Il vous reste encore une chance de retrouver les articles :</p>
					odit aut fugit. </p>
                <p>Consultez notre boutique vintage, votre produit préféré s'y trouve peut-être... </p>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!-- //mens -->
{% endblock %}